In [1]:
#sequence=collection of values
bhavana=['bhavana patidar',18]
tanishk=['tanishk patidar',13]
print(bhavana)
print(tanishk)

['bhavana patidar', 18]
['tanishk patidar', 13]

In [1]:
#sequence contains another sequence
newseq=[bhavana, tanishk]
newseq

NameError: name 'bhavana' is not defined

In [2]:
#sequence operation
#1. indexing
greetings = 'hello'
print(greetings)
print(greetings[3])

hello
l

In [4]:
greetings[1]

'e'

greetings[-1]

In [5]:
greetings[-1]

'o'

In [6]:
#even from input
var = input("enter :")[1]
print(var)

enter :bhavana
h

In [11]:
#print out a date, given year,month,and dayas numbers
months=[
    'january',
    'february',
    'march',
    'april',
    'may',
    'june',
    'july',
    'august',
    'september',
    'october',
    'november',
    'december'
    
]
#a list with one ending for each number from 1 to 31
endings = ['st','nd','rd'] + 17*['th'] \
+['st','nd','rd'] + 7*['th'] \
+['st']
year = input('year: ')
month = input('month (1-12): ')
day = input('day (1-31): ')
month_number = int(month)
day_number = int(day)

# remember to subtract 1 from month and day to get a correct index

month_name = months[month_number-1]
ordinal = day + endings[day_number-1]
print(month_name+ ordinal + ', ' + year)

year: 2020
month (1-12): 8
day (1-31): 27
august27th, 2020

'http://www.python.org'

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[3:6])
print(numbers[0:1])

[4, 5, 6]
[1]

In [13]:
numbers[5:10]

[6, 7, 8, 9, 10]

In [14]:
numbers[-3:-1]

[8, 9]

In [15]:
numbers[-1]

10

In [16]:
#therefore last item
numbers[-3:]

[8, 9, 10]

In [17]:
numbers[:3]

[1, 2, 3]

In [18]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# split up a URL of the form http://www.something.com
url = input('please enter the URL:')
domain = url[11:-4]
print("domain name: " + domain)

please enter the URL:http://www.bhavana.com
domain name: bhavana

In [21]:
#longer steps
print(numbers[0:10:1])
print(numbers[0:10:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [22]:
print(numbers[:::])

SyntaxError: invalid syntax (<ipython-input-22-f6b7bb37afb3>, line 1)

In [23]:
print(numbers[3:6:3])

[4]

In [24]:
print(numbers[0:0:4])

[]

In [25]:
print(numbers[::4])

[1, 5, 9]

In [27]:
print(numbers[8:3:-1])
print(numbers[0:10:-2])
print(numbers[::-2])
print(numbers[:5:-2])

[9, 8, 7, 6, 5]
[]
[10, 8, 6, 4, 2]
[10, 8]

In [28]:
#adding sequences
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [29]:
[1,2,3]+'hello!'

TypeError: can only concatenate list (not "str") to list

In [30]:
#multiplication of sequences
'bhavana '*5

'bhavana bhavana bhavana bhavana bhavana '

In [31]:
[84 ]*10

[84, 84, 84, 84, 84, 84, 84, 84, 84, 84]

In [32]:
a =[] #empty
print(a*10)

[]

In [36]:
a = ['none']
print(a*10)

['none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none']

In [11]:
#prints a sentence in a centered "box" of correct width
sentence = input("sentenc: ")
screen_width = 80
text_width = len(sentence)
box_width = text_width + 6
left_margin = (screen_width - box_width)//2
print()
print( ''*left_margin + '+' +  '-'*(box_width-2)+ '+')
print(''*left_margin + '| ' + ''*text_width + ' |')
print(''*left_margin + '| ' + sentence + ' |')
print(''*left_margin + '| '+ ' '*text_width + ' |')
print(''*left_margin + '+' + '-'*(box_width-2) + '+')
print()

sentenc: bnhjhngdfgfggfgdsgfhdjhh

+----------------------------+
|  |
| bnhjhngdfgfggfgdsgfhdjhh |
|                          |
+----------------------------+

In [3]:
#memberships
permissions = 'rehgfjhoih'
'w' in permissions

False

In [4]:
'x' in permissions

False

In [5]:
'h' in permissions

True

In [7]:
#check a user name and PIN code 
database = [
    ['albert', '1234'],
    ['dilbert', '3456'],
    ['smith', '4984'],
    ['jones', '4804'],
    
]
username = input('user name: ')
pin = input('pin code: ')
if[username, pin] in database: print('access granted')

user name: albert
pin code: 1234
access granted

In [9]:
#length, minimum and maximum
numbers = [1,2,3,4,5,6,7,8,9,10]
print(len(numbers))

print(max(numbers))
print(min(numbers))

10
10
1

In [10]:
max(2,3,min(4,5,6))

4

In [11]:
#still we used list a lot
#list are mutables i.e. can change its items
list("hello")

['h', 'e', 'l', 'l', 'o']

In [12]:
list[3]

TypeError: 'type' object is not subscriptable

In [15]:
x = [1,2,1]
print(x)
x[1]=3
print(x)

[1, 2, 1]
[1, 3, 1]

In [17]:
x = [1,2,3,4,5,6,7,8,9,10]
del x[2]
print(x)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#assigning to slices
name = list('perl')
print(name)
name[2:] = list('dj')
print(name)

['p', 'e', 'r', 'l']
['p', 'e', 'd', 'j']

In [20]:
name = list('perl')
name[1:] = list('ython')
name

['p', 'y', 't', 'h', 'o', 'n']

In [21]:
numbers = [1,5]
numbers[1:1] = [2,3,4]
numbers

[1, 2, 3, 4, 5]

In [5]:
numbers = [1,2,3,4,5]
numbers[1:3] = []

numbers

[1, 4, 5]

In [23]:
numbers

[1, 5]

In [24]:
numbers.clear()
numbers

[]

In [25]:
#copy list
a=[1,2,3]
b=a
print(b)
print(a)
b[2]=88
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 88]
[1, 2, 88]

In [26]:
#separate copy
c =a.copy()
c[1]=99
print(c)

[1, 99, 88]

In [27]:
print(a)

[1, 2, 88]

In [28]:
d=a[:]
print(d)

[1, 2, 88]

In [29]:
d[1]="hello"

In [30]:
print(d)

[1, 'hello', 88]

In [31]:
print(a)

[1, 2, 88]

In [32]:
e=list(d)
print(e)
e[2]='world'
print(e)

[1, 'hello', 88]
[1, 'hello', 'world']

In [33]:
print(a)

[1, 2, 88]

In [34]:
f=a
f.append(45)
print(a)
print(f)

[1, 2, 88, 45]
[1, 2, 88, 45]

In [36]:
#count
['to','be','or','not','to','be'].count('not')

1

In [37]:
#extend
a=[1,2,3]
b=[5,6,7]
a.extend(b)
print(a)

[1, 2, 3, 5, 6, 7]

In [6]:
a = [1,2,3]
b = [5,6,7]
print(a+b)
print(a)
c=a+b
print(c)

[1, 2, 3, 5, 6, 7]
[1, 2, 3]
[1, 2, 3, 5, 6, 7]

In [7]:
#another way to extention
a[len(a):] = b
print(a)

[1, 2, 3, 5, 6, 7]

In [8]:
#index
knights = ['we','are','the','kinghts','who','say','hi']
knights.index('who')

4

In [9]:
knights[4]

'who'

In [10]:
#insert at position
numbers = [1,2,3,5,6,7]
numbers.insert(3, 'four')
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [11]:
#insert with slice
numbers = [1,2,3,5,6,7]
numbers[3:3] = ['four']
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [12]:
#poping out itmes
x = [1,2,3]
x.pop()

3

In [13]:
#pop from a location
x.pop(0)

1

In [14]:
#appending the poped item
x = [1,2,3]
x.append(x.pop())
print(x)

[1, 2, 3]

In [15]:
#appending the poped item
x = [1,2,3]
x.append(x.pop(2))
print(x)

[1, 2, 3]

In [16]:
#the remove method is used to remove the first occurence of a value
x = ['to','be','or','not','to','be']
x.remove('be')
print(x)

['to', 'or', 'not', 'to', 'be']

In [17]:
#reverses the list but , does not returns any thing
x = [1,2,3,4,5,6]
print(x)
x.reverse()
print(x)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [18]:
x = [2,6,4,9,5,2,9,4,2]
y = x.copy()
y.sort()
y

[2, 2, 2, 4, 4, 5, 6, 9, 9]

In [19]:
#to get returned list
x=[4,6,2,8,5,1]
y=sorted(x)
print(x)
print(y)

[4, 6, 2, 8, 5, 1]
[1, 2, 4, 5, 6, 8]

In [20]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [21]:
x=[4,7,2,9,5,1]
x.sort(reverse=True)
x

[9, 7, 5, 4, 2, 1]

In [22]:
#tuples: immutable sequence :can't be changed
1,2,3

(1, 2, 3)

In [23]:
#difference [] and ()

In [25]:
#empty tuple
()

()

In [26]:
# tuple with one item
43

43

In [27]:
#not that way
# correct way
42,0

(42, 0)

In [28]:
# or
(42,)

(42,)

In [30]:
# difference between paranthesis and tuple
x = 3 * (40 + 2)
print(x)
y = 3* (40+2,)
print(y)

126
(42, 42, 42)

In [31]:
print(tuple([1,2,3]))
print(tuple('abc'))
print(tuple((1,2,3)))

(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [32]:
#another way to creating tuple 
x = 1,2,3
x

(1, 2, 3)

In [14]:
data=[
    ['january','31'],
    ['february','28/29'],
    ['march','31'],
    ['april','30'],
    ['may','31'],
    ['june','30'],
    ['july','31'],
    ['august','31'],
    ['september','30'],
    ['october','31'],
    ['november','30'],
    ['december','31'],
    
]

month name = input('month name : ')

SyntaxError: invalid syntax (<ipython-input-14-c3454ce86267>, line 17)